{% extends "base.html" %}

{% block page_title %}
Login
{% endblock page_title %}

{% block navigation %}
    {% include "bet/includes/header.html" %}
{% endblock navigation %}

{% block content %}
    Login page
    <h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      
      <div>
        <label for="uname">{{ form.username.label }}</label>
        <input id="uname" type="text" name="username">
        
        <ol>
        {% for error in form.username.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ol>
        
            
      </div>

      <div>
        <label for="pass">{{ form.password.label }}</label>
        <input id="pass" type="password" name="password">
        <ol>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ol>
      </div>

      <ol>
        
        {% for error in form.non_field_errors %}
           <li>{{ error }}</li> 
        {% endfor %}
            
      </ol>
      
      <button type="submit">Log In</button>
    </form>

    <hr>
    <a href="{% url 'password_reset' %}">Forgot Password</a>
    <hr>
    <a href="{% url 'register' %}">Sign Up</a>
    <!-- <form action="">
        <label for="first">
            Username:
        </label>
        <input type="text" id="first" name="first" 
            placeholder="Enter your Username" required>

        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password" 
            placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
    
    <p>Not registered?
        <a href="#" style="text-decoration: none;">
            Create an account
        </a>
    </p> -->
{% endblock content %}
