{% extends "base.html" %}

{% block page_title %}
Login
{% endblock page_title %}

{% block navigation %}
    {% include "bet/includes/header.html" %}
{% endblock navigation %}

    

{% block content %}
    Password reset page
    
    <form method="post">
        {% csrf_token %}
        <!-- <td>Email</td>
        <td>{{ form.email }}</td> -->
        {{ form }}
        <button type="submit">Send email</button>
        <!-- <input type="submit" value="Send Email!"> -->
    </form>

{% endblock content %}
