{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block navigation %}
{% include "bet/includes/header.html" %}
{% endblock navigation %}

{% block content %}

{% if user.is_authenticated %}
    Home page user logged in
{% else %}
    Home page
{% endif %}



<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu ante, placerat quis tortor sed, volutpat venenatis massa. Nam finibus magna vitae leo rhoncus pharetra. Phasellus sed ex dui. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Quisque et libero sed ante placerat scelerisque eu id nisi. Curabitur sed dui ac dolor sagittis ultrices. Suspendisse non odio non metus ornare elementum id quis ligula.
</p>

<p>
    Mauris dignissim, sapien vitae scelerisque blandit, sem erat vehicula lacus, eu placerat elit justo at metus. Nulla rutrum quis neque eget dignissim. Vestibulum erat augue, dictum sit amet tellus vitae, tincidunt placerat velit. Vestibulum euismod consectetur purus sollicitudin sollicitudin. Vivamus lobortis sem in lectus cursus facilisis quis ac risus. Aenean rhoncus, dolor id lacinia lobortis, sapien arcu dignissim justo, non convallis massa felis vel lacus. Fusce congue lorem urna, nec dapibus diam imperdiet nec.
</p>

<p>
    Curabitur volutpat aliquam neque, quis varius lorem rhoncus a. Aliquam semper porttitor volutpat. Cras placerat turpis non tortor condimentum, a condimentum neque ultrices. Proin elit turpis, rutrum id blandit non, posuere a augue. Aliquam erat volutpat. Donec maximus convallis nibh, et congue mauris tincidunt non. Nunc vulputate odio eros, vitae lobortis nisl lacinia ut. Nunc porttitor eget nunc in faucibus. Cras pulvinar sollicitudin purus a finibus. Sed erat arcu, tincidunt quis neque et, fringilla rutrum metus. Phasellus sed lectus viverra, sagittis massa non, aliquet lacus. Curabitur fringilla ligula sem, non aliquet tellus vestibulum at. Etiam non neque tempor libero sodales condimentum. Vivamus eu pulvinar leo, eu tempus purus.
</p>

<p>
    Nulla tristique enim quis varius rutrum. Sed ut nisi quis mauris faucibus accumsan. Morbi et viverra sapien. Quisque condimentum congue elementum. Nulla malesuada neque augue, quis feugiat ante tristique ut. Maecenas at nunc mi. Praesent pretium fermentum libero, at finibus felis feugiat nec.
</p>

<p>
    Aenean libero turpis, dignissim ac congue sed, consectetur et sem. Phasellus eu leo facilisis, aliquam nisl eu, pretium nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sodales venenatis ante sed faucibus. Nulla molestie eget tortor nec tempor. Quisque non mollis tellus. Mauris congue ipsum sapien. Suspendisse vehicula mollis gravida. Aliquam non facilisis risus. Cras quis purus eros. Proin et mi posuere, congue nunc vel, auctor metus. Maecenas sagittis vehicula vehicula. 
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu ante, placerat quis tortor sed, volutpat venenatis massa. Nam finibus magna vitae leo rhoncus pharetra. Phasellus sed ex dui. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Quisque et libero sed ante placerat scelerisque eu id nisi. Curabitur sed dui ac dolor sagittis ultrices. Suspendisse non odio non metus ornare elementum id quis ligula.
</p>

<p>
    Mauris dignissim, sapien vitae scelerisque blandit, sem erat vehicula lacus, eu placerat elit justo at metus. Nulla rutrum quis neque eget dignissim. Vestibulum erat augue, dictum sit amet tellus vitae, tincidunt placerat velit. Vestibulum euismod consectetur purus sollicitudin sollicitudin. Vivamus lobortis sem in lectus cursus facilisis quis ac risus. Aenean rhoncus, dolor id lacinia lobortis, sapien arcu dignissim justo, non convallis massa felis vel lacus. Fusce congue lorem urna, nec dapibus diam imperdiet nec.
</p>

<p>
    Curabitur volutpat aliquam neque, quis varius lorem rhoncus a. Aliquam semper porttitor volutpat. Cras placerat turpis non tortor condimentum, a condimentum neque ultrices. Proin elit turpis, rutrum id blandit non, posuere a augue. Aliquam erat volutpat. Donec maximus convallis nibh, et congue mauris tincidunt non. Nunc vulputate odio eros, vitae lobortis nisl lacinia ut. Nunc porttitor eget nunc in faucibus. Cras pulvinar sollicitudin purus a finibus. Sed erat arcu, tincidunt quis neque et, fringilla rutrum metus. Phasellus sed lectus viverra, sagittis massa non, aliquet lacus. Curabitur fringilla ligula sem, non aliquet tellus vestibulum at. Etiam non neque tempor libero sodales condimentum. Vivamus eu pulvinar leo, eu tempus purus.
</p>

<p>
    Nulla tristique enim quis varius rutrum. Sed ut nisi quis mauris faucibus accumsan. Morbi et viverra sapien. Quisque condimentum congue elementum. Nulla malesuada neque augue, quis feugiat ante tristique ut. Maecenas at nunc mi. Praesent pretium fermentum libero, at finibus felis feugiat nec.
</p>

<p>
    Aenean libero turpis, dignissim ac congue sed, consectetur et sem. Phasellus eu leo facilisis, aliquam nisl eu, pretium nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sodales venenatis ante sed faucibus. Nulla molestie eget tortor nec tempor. Quisque non mollis tellus. Mauris congue ipsum sapien. Suspendisse vehicula mollis gravida. Aliquam non facilisis risus. Cras quis purus eros. Proin et mi posuere, congue nunc vel, auctor metus. Maecenas sagittis vehicula vehicula. 
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu ante, placerat quis tortor sed, volutpat venenatis massa. Nam finibus magna vitae leo rhoncus pharetra. Phasellus sed ex dui. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Quisque et libero sed ante placerat scelerisque eu id nisi. Curabitur sed dui ac dolor sagittis ultrices. Suspendisse non odio non metus ornare elementum id quis ligula.
</p>

<p>
    Mauris dignissim, sapien vitae scelerisque blandit, sem erat vehicula lacus, eu placerat elit justo at metus. Nulla rutrum quis neque eget dignissim. Vestibulum erat augue, dictum sit amet tellus vitae, tincidunt placerat velit. Vestibulum euismod consectetur purus sollicitudin sollicitudin. Vivamus lobortis sem in lectus cursus facilisis quis ac risus. Aenean rhoncus, dolor id lacinia lobortis, sapien arcu dignissim justo, non convallis massa felis vel lacus. Fusce congue lorem urna, nec dapibus diam imperdiet nec.
</p>

<p>
    Curabitur volutpat aliquam neque, quis varius lorem rhoncus a. Aliquam semper porttitor volutpat. Cras placerat turpis non tortor condimentum, a condimentum neque ultrices. Proin elit turpis, rutrum id blandit non, posuere a augue. Aliquam erat volutpat. Donec maximus convallis nibh, et congue mauris tincidunt non. Nunc vulputate odio eros, vitae lobortis nisl lacinia ut. Nunc porttitor eget nunc in faucibus. Cras pulvinar sollicitudin purus a finibus. Sed erat arcu, tincidunt quis neque et, fringilla rutrum metus. Phasellus sed lectus viverra, sagittis massa non, aliquet lacus. Curabitur fringilla ligula sem, non aliquet tellus vestibulum at. Etiam non neque tempor libero sodales condimentum. Vivamus eu pulvinar leo, eu tempus purus.
</p>

<p>
    Nulla tristique enim quis varius rutrum. Sed ut nisi quis mauris faucibus accumsan. Morbi et viverra sapien. Quisque condimentum congue elementum. Nulla malesuada neque augue, quis feugiat ante tristique ut. Maecenas at nunc mi. Praesent pretium fermentum libero, at finibus felis feugiat nec.
</p>

<p>
    Aenean libero turpis, dignissim ac congue sed, consectetur et sem. Phasellus eu leo facilisis, aliquam nisl eu, pretium nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sodales venenatis ante sed faucibus. Nulla molestie eget tortor nec tempor. Quisque non mollis tellus. Mauris congue ipsum sapien. Suspendisse vehicula mollis gravida. Aliquam non facilisis risus. Cras quis purus eros. Proin et mi posuere, congue nunc vel, auctor metus. Maecenas sagittis vehicula vehicula. 
</p>

{% endblock content %}

