{% extends "base.html" %}
{% load static %}

{% block page_title %}
Matches
{% endblock page_title %}

{% block navigation %}
    {% include "bet/includes/header.html" %}
{% endblock navigation %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "bet/betapp.css" %}">
{% endblock css_files %}

{% block content %}

    <table>
        <tr>
            <th>Matchday</th>
            <th>Home team</th>
            <th>Score</th>
            <th>Away team</th>
        </tr>
        {% for match in object_list %}
            <tr>
                <td>{{ match.matchday }}</td>
                <td>{{ match.home_team.name }}</td>
                <td>{{ match.home_score }} : {{ match.away_score }}</td>
                <td>{{ match.away_team.name }}</td>
            </tr>
        {% empty %}
            No Football Matches!
        {% endfor %}
    </table>

{% endblock content %}
